html {font-family: Helvetica; text-align: center;}

h1 {font-size: 70px; font-weight: bold; color: white;}

h2 {font-size: 32px; font-weight: bold; color: gray;}

h3 {font-size: 23px; font-weight: bold; color: gray;}

h4 {font-size: 18px; color: white;}

p {font-size: 14px; color: gray;}

h5 {font-size: 11px; color: white;}
